/*
    make page full-height
 */
body, #main, vdl-page {
    height: 100%;
}

body {
    margin: 0;
}

vdl-column.with-sidebar, .with-sidebar .column-body {
    display: flex;
    align-items: stretch;
}

vdl-sidebar {
    display: flex;
    height: 100%;
}

vdl-sidebar #container-sidebar {
    min-width: 60px; /* 300px */
    width: 60px; /* 300px */
    height: 100%;
    flex-grow: 0;
    flex-shrink: 0;
}

vdl-sidebar .views {
    flex-grow: 1;
    flex-shrink: 1;
}

vdl-sidebar #container-sidebar.expanded {
    min-width: 240px; /* 300px */
    width: 240px; /* 300px */
}
vdl-sidebar .views.expanded {
}

vdl-sidebar .sidebar {
    position: initial;
}

.sidebar .header {
    min-width: 230px;
}

i.sidebar-left {
    width: 20px;
    height: 20px;
    display: block;
    background: no-repeat url(chevron-left.png);
    background-size: 75%;
}

i.sidebar-right {
    width: 20px;
    height: 20px;
    display: block;
    background: no-repeat url(chevron-right.png);
    background-size: 75%;
}

.mini-submenu {
    display: block;
}